// GLOBAL

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Sora', sans-serif;
	background-color: #e5e5e5;
	overflow-x: hidden;
}

// IMPORTS

@import './background.scss';
@import './footer.scss';
@import './header.scss';
@import './progress-bar.scss';
@import './provides.scss';
@import './step-1.scss';
@import './step-1-1.scss';
@import './step-2.scss';
@import './loader.scss';
@import './step-3.scss';

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
