.step-1 {
	display: none;
	flex-direction: column;
	height: 100vh;
	margin: 0px 16px;
	gap: 100px;

	h1 {
		font-size: 30px;
		color: #001429;
		line-height: 40px;
		letter-spacing: -0.01em;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 35px;

		h2 {
			color: #001429;
			font-size: 22px;
			line-height: 35px;
			letter-spacing: -0.01em;
		}

		p {
			line-height: 28px;
			color: #001429;
			font-size: 14px;
		}
	}

	&__inputs-and-buttons {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__input {
		box-shadow: 0px 4px 16px #cccccc;
		border-radius: 5px;
		padding: 20px;
		width: 100%;
		border: none;
	}

	&__button {
		display: flex;
		cursor: pointer;
		background-color: #ff782d;
		border-radius: 5px;
		border: none;
		width: 100%;
		padding: 16px 33px;
		color: white;
		font-weight: 700;
		line-height: 32px;
		font-size: 24px;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.step-1 {
		gap: 50px;

		&__content {
			gap: 50px;
		}
	}
}

@media (min-width: 1200px) {
	.step-1 {
		margin: 0px 100px;

		h1 {
			width: 40%;
			font-size: 42px;
			line-height: 48px;
		}

		&__content {
			gap: 40px;

			h2 {
				font-size: 32px;
				line-height: 42px;
			}

			p {
				font-size: 16px;
			}
		}

		&__inputs-and-buttons {
			width: 35%;
			align-items: flex-end;

			button {
				font-size: 24px;
				width: 60%;
			}
		}
	}
}
