.step-3 {
	display: none;
	flex-direction: column;
	margin: 50px 16px;
	gap: 40px;

	&__card {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__card-content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #ffffff;
		padding: 35px 21px;
		box-shadow: 0px 4px 16px #cccccc;
		border-radius: 10px;
	}

	&__card-result {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		position: absolute;
		top: -3%;
		left: 16%;
		height: 32px;
		width: 232px;
		background: #4f4ced;
		border-radius: 100px;
	}

	&__result {
		font-weight: 700;
		font-size: 16px;
		line-height: 28px;
		color: #32ce8d;
	}

	&__result-info {
		color: #ffffff;
		font-weight: 700;
		font-size: 14px;
		line-height: 28px;
	}

	&__offer {
		display: flex;
		justify-content: space-between;
		gap: 27px;
	}

	&__offered-by {
		display: flex;
		flex-direction: column;
		gap: 7px;

		p {
			font-size: 14px;
			line-height: 21px;
			color: #637381;
		}

		img {
			width: 182px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 14px;
	}

	&__monthly-cost {
		display: flex;
		flex-direction: column;
		gap: 7px;
		font-size: 14px;
		line-height: 21px;
		color: #637381;
	}

	&__cost {
		color: #4f4ced;
		font-size: 56px;
		font-weight: 700;
		line-height: 56px;
		letter-spacing: -0.01em;
	}

	&__area {
		font-size: 12px;
		color: #637381;
		line-height: 21px;
	}

	&__features {
		display: flex;
		flex-direction: column;
		gap: 14px;
	}

	&__features-headline {
		font-size: 14px;
		line-height: 21px;
		color: #637381;
	}

	&__feature {
		display: flex;
		align-items: center;
		gap: 7px;
	}

	button {
		display: flex;
		justify-content: center;
		cursor: pointer;
		background-color: #32ce8d;
		border-radius: 5px;
		border: none;
		padding: 16px 33px;
		color: white;
		font-weight: 700;
		line-height: 32px;
		font-size: 24px;
		text-align: center;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__form-content {
		padding: 20px 0;
	}

	&__label-input {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-bottom: 20px;

		h3 {
			font-size: 18px;
			font-weight: 700;
			line-height: 28px;
			letter-spacing: -0.01em;
			color: #001429;
		}

		input {
			background: #ffffff;
			box-shadow: 0px 4px 16px #cccccc;
			border-radius: 5px;
			border: none;
			font-size: 16px;
			line-height: 28px;
			color: #a3a3a3;
			padding: 15px;
			outline: 0;
		}
	}

	&__checkbox {
		display: flex;
		justify-content: flex-start;
		gap: 10px;
		align-items: flex-start;

		[type='checkbox'] {
			width: 24px;
			height: 24px;
			color: #cccccc;
			vertical-align: middle;
			-webkit-appearance: none;
			background: none;
			outline: 0;
			flex-grow: 0;
			border-radius: 5px;
			background-color: #ffffff;
			transition: background 300ms;
			cursor: pointer;
		}

		[type='checkbox']::before {
			content: '';
			color: transparent;
			display: block;
			width: inherit;
			height: inherit;
			border-radius: inherit;
			border: 2px solid #4f4ced;
			background-color: transparent;
			background-size: contain;
			// box-shadow: inset 0 0 0 1px #ccd3d8;
		}

		[type='checkbox']:checked {
			background-color: #4f4ced;
		}

		[type='checkbox']:checked::before {
			box-shadow: none;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' 					viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 					2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E 					%3C/svg%3E");
		}

		p {
			color: #666666;
			font-size: 14px;
			line-height: 21px;
		}
	}

	&__button {
		display: flex;
		flex-direction: column;
		gap: 12px;

		button {
			display: flex;
			justify-content: center;
			cursor: pointer;
			background-color: #ff782d;
			border-radius: 5px;
			border: none;
			padding: 16px 33px;
			color: white;
			font-weight: 700;
			line-height: 32px;
			font-size: 24px;
			text-align: center;
		}

		p {
			text-align: center;
			font-size: 12px;
			line-height: 21px;
			color: #637381;
		}
	}

	&__back-button {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 5px;

		p {
			font-size: 16px;
			line-height: 28px;
			color: #666666;

			a {
				text-decoration: none;
				color: #666666;
			}
		}
	}

	&__safe-secure {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 30px;
	}

	&__safe-buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		font-size: 12px;
		color: #001429;

		a {
			text-decoration: none;
			color: #001429;
		}
	}
}

@media (min-width: 1200px) {
	.step-3 {
		align-items: center;

		&__form {
			width: 27%;
		}
	}
}
