*,
// GLOBAL

*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Sora', sans-serif;
	background-color: #e5e5e5;
}

// STEP 1 - MOBILE FIRST

.step-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;

	&__elipse-1 {
		position: absolute;
		width: 171px;
		height: 371px;
		right: 5px;
		top: -54px;
		background-color: #807dff;
		opacity: 0.3;
		filter: blur(50px);
		z-index: -20;
		overflow: hidden;
	}

	&__elipse-2 {
		position: absolute;
		width: 171px;
		height: 371px;
		right: 5px;
		top: 408px;
		background-color: #eb578c;
		opacity: 0.25;
		filter: blur(75px);
		z-index: -20;
	}

	&__noise {
		position: absolute;
		z-index: -10;
		img {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
		}
	}

	// STEP 1 - HEADER

	&__header {
		padding: 16px;
		display: flex;
		justify-content: space-between;
	}

	&__safe-and-secure {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 10px;
		font-size: 14px;
	}

	// --------------------------

	// STEP 1 - PROGRESSION AND PROVIDERS

	&__progression-and-providers {
		padding: 0 16px;
		display: flex;
		flex-direction: column;
	}

	&__progress-bar {
		display: flex;
		justify-content: space-between;
	}

	&__circle--one {
		text-align: center;
		border: 2px solid #4f4ced;
		border-radius: 100px;
		width: 21px;
		height: 21px;
		font-size: 14px;
		font-weight: 700;
		color: #ffffff;
		line-height: 16px;
		background-color: #4f4ced;
	}

	&__circle--two {
		text-align: center;
		border: 2px solid #001429;
		border-radius: 100px;
		width: 21px;
		height: 21px;
		font-size: 14px;
		font-weight: 700;
		color: #001429;
		line-height: 16px;
		background-color: #e5e5e5;
	}

	&__circle--three {
		text-align: center;
		border: 2px solid #001429;
		border-radius: 100px;
		width: 21px;
		height: 21px;
		font-size: 14px;
		font-weight: 700;
		color: #001429;
		line-height: 16px;
		z-index: 10;
		background-color: #e5e5e5;
	}

	&__line {
		border: 1px solid #001429;
		position: absolute;
		left: 4.55%;
		right: 4.55%;
		top: 82px;
		z-index: -10;
	}

	&__providers {
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
	}

	// --------------------------
	// STEP 1 - MAIN

	&__main {
		padding: 50px 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__main-content {
		gap: 40px;
		display: flex;
		flex-direction: column;
		h1 {
			font-size: 30px;
			color: #001429;
			line-height: 40px;
			letter-spacing: -0.01em;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;

		h2 {
			color: #001429;
			font-size: 22px;
			line-height: 35px;
			letter-spacing: -0.01em;
		}

		p {
			line-height: 28px;
			color: #001429;
			font-size: 14px;
		}
	}

	&__inputs-and-buttons {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__input {
		box-shadow: 0px 4px 16px #cccccc;
		border-radius: 5px;
		padding: 20px;
		width: 100%;
		border: none;
	}

	&__button {
		cursor: pointer;
		background-color: #ff782d;
		border-radius: 5px;
		border: none;
		width: 100%;
		padding: 16px 33px;
		color: white;
		font-weight: 700;
		line-height: 32px;
		font-size: 24px;
		text-align: center;
	}

	// --------------------------
	// STEP 1 - FOOTER

	&__footer {
		padding: 10px 16px;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__swap-my-bills {
		display: flex;

		p {
			line-height: 21px;
			font-size: 12px;
			color: #001429;
		}
	}

	&__copyrights-and-terms {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		p {
			font-size: 12px;
		}
	}
}

// MEDIA

@media (min-width: 150px) and (max-width: 312px) {
	.step-1 {
		&__header {
			gap: 10px;
		}
		&__line {
			top: 78px;
			left: 12.55%;
			right: 12.55%;
		}

		&__swap-my-bills {
			p {
				font-size: 11px;
			}
		}

		&__copyrights-and-terms {
			p {
				font-size: 9px;
			}
		}
	}
}

@media (min-width: 313px) and (max-width: 337px) {
	.step-1 {
		&__line {
			top: 76px;
			left: 5.55%;
			right: 5.55%;
		}

		&__swap-my-bills {
			p {
				font-size: 11px;
			}
		}

		&__copyrights-and-terms {
			p {
				font-size: 9px;
			}
		}
	}
}

@media (min-width: 338px) and (max-width: 365px) {
	.step-1 {
		&__line {
			top: 85px;
		}

		&__swap-my-bills {
			p {
				font-size: 11px;
			}
		}

		&__copyrights-and-terms {
			p {
				font-size: 11px;
			}
		}
	}
}

@media (min-width: 366px) and (max-width: 481px) {
	.step-1 {
		&__line {
			top: 97px;
		}

		&__swap-my-bills {
			p {
				font-size: 12px;
			}
		}

		&__copyrights-and-terms {
			p {
				font-size: 11px;
			}
		}
	}
}

@media (min-width: 482px) and (max-width: 481px) {
	.step-1 {
		&__line {
			top: 97px;
		}

		&__swap-my-bills {
			p {
				font-size: 12px;
			}
		}

		&__copyrights-and-terms {
			p {
				font-size: 11px;
			}
		}
	}
}
